body {
    font-family: 'Work Sans';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #161616;
}

body::after{
    content: "";
    background: url('./bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    min-height: 100%;
    width: 100%;
    z-index: -1; 
}

.heading-icon {
    color: #dc3545;
}

h1 {
    font-family: "Open Sans";
    font-size: 3.5em;
    font-weight: 700;
    color: black;
}

h2 {
    font-weight: 700;
}

span.subtitle {
    font-size: 1.5em;
}

label {
    font-size: 1.1em;
}

hr {
    width: 22rem;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

space {
    margin-top: 100px;
}

.hidden {
    display: none;
}

.main-heading {
    margin-top: 300px;
}

.navbar-brand {
    color: white;
}

.risk-high {
    color: #bd2130;
}

.risk-medium {
    color: #de5f00
}

.risk-low {
    color: #00deab
}

.main-content-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-content {
    padding: 40px;
    background: white;
    box-shadow: 10px 10px 10px rgba(33, 33, 33, 0.2);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255, 1);
}

@media (max-width: 576px) {
    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }
    
    h5 {
        margin: 0;
        font-size: 1.1rem;
        padding: 5px;
    }

    label  {
        font-size: 1.0rem;
    }

    hr {
        width: 10rem;
    }

    i.main {
        margin-right: 15px;
    }

    strong {
        font-size: 1.05rem;
    }
}

.btn-group .btn-danger{
    background-color: #f8f9fa;
    color: #161616;
    border-color: #b21f2d;
}